.dashboard {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard h1 {
    color: #333;
  }
  
  .dashboard form {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .dashboard button {
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .dashboard button:hover {
    background-color: #555;
  }
  
  .dashboard div {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%; 
  }